{
  "extends": "eslint-config-goldhand",
  "env": {
    "browser": true,
    "commonjs": true,
    "jest": true
  },
  "rules": {
    "global-require": 0,
    "object-curly-spacing": ["error", "never"],
    "implicit-arrow-linebreak": 0
  }
}
